@mixin transition($time) {
	-webkit-transition: all $time+s ease-in-out;
	   -moz-transition: all $time+s ease-in-out;
	    -ms-transition: all $time+s ease-in-out;
	     -o-transition: all $time+s ease-in-out;
	        transition: all $time+s ease-in-out;
}

@mixin letter-spacing($x, $y) {
	letter-spacing: toem(($x*$y)/1000,$x);
}

@function toem($num, $parent: 16) {
	@return $num/$parent+em;
}

@mixin min($size) {
	@media screen and (min-width: $size+px){
		@content;
	}
}
@mixin max($size) {
	@media screen and (max-width: $size+px){
		@content;
	}
}
@mixin minh($size) {
	@media screen and (min-height: $size+px){
		@content;
	}
}
@mixin maxh($size) {
	@media screen and (max-height: $size+px){
		@content;
	}
}