$min-width: 320px; 
$max-width: 1200px; 

$base-bg: #fafbfc;
$text-color: #323c47;
$violet: #6064f3;
$grey: #96a2b4;
$grey-light: #e4e7f0;
$green: #37bfb3;

$link-color: inherit;

$default-transition: 0.3;